<html ng-app="myApp">
    <head>
        <title>Titulo de la pagina</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
            <script>
                angular.module("myApp", [])
                .controller("myCtrl", function($scope) {
                    $scope.rowSelected = 0;
                    $scope.cursos = [];
                    $scope.personas = [
                        {
                            'num':1,
                            'nombre':'Fauricio',
                            'apellido':'Rojas',
                            'cedula':'2-723-152',
                        },
                        {
                            'num':2,
                            'nombre':'Kenneth',
                            'apellido':'Perez',
                            'cedula':'2-000-000'
                        },
                        {
                            'num':3,
                            'nombre':'Manfred',
                            'apellido':'Artavia',
                            'cedula':'2-000-001'
                        }
                    ];
                    $scope.cursos = [
                        {
                            'nombre':'Bases I',
                            'capacidad':'24',
                            'codigo':'IC-1234'
                        },
                        {
                            'nombre':'Web',
                            'capacidad':'24',
                            'codigo':'IC-7001'
                        },
                        {
                            'nombre':'Moviles',
                            'capacidad':'24',
                            'codigo':'IC-7002'
                        }
                    ];

                    $scope.mostrarCursos = mostrarCursos;
                    $scope.ocultarCursos = ocultarCursos;

                    function mostrarCursos(num) {
                        console.log("------------> MOSTRAR");
                        
                        if($scope.rowSelected > 0) {
                            ocultarCursos();
                        }
                        
                        $scope.rowSelected = num;

                        var th = document.createElement('th');
                        th.setAttribute('colspan', '4');
                        var div = document.createElement('div');
                        div.setAttribute('class', 'container');
                        var table = document.createElement('table');
                        table.setAttribute('class', 'table table-striped');
                        var thead = document.createElement('thead');
                        var trEncabezado = document.createElement('tr');
                        var curso = document.createElement('th');
                        curso.appendChild(document.createTextNode('Curso'));
                        var capacidad = document.createElement('th');
                        capacidad.appendChild(document.createTextNode('Capacidad'));
                        var codigo = document.createElement('th');
                        codigo.appendChild(document.createTextNode('Codigo'));
                        var tbody = document.createElement('tbody');

                        var trCuerpo, cursoCuerpo , capacidadCuerpo, codigoCuerpo;

                        for(var i=0; i<$scope.cursos.length; i++) {
                            trCuerpo = document.createElement('tr');

                            cursoCuerpo = document.createElement('th');
                            cursoCuerpo.appendChild(document.createTextNode($scope.cursos[i].nombre));
                            capacidadCuerpo = document.createElement('th');
                            capacidadCuerpo.appendChild(document.createTextNode($scope.cursos[i].capacidad));
                            codigoCuerpo = document.createElement('th');
                            codigoCuerpo.appendChild(document.createTextNode($scope.cursos[i].codigo));

                            trCuerpo.appendChild(cursoCuerpo);
                            trCuerpo.appendChild(capacidadCuerpo);
                            trCuerpo.appendChild(codigoCuerpo);

                            tbody.appendChild(trCuerpo);
                        }

                        th.appendChild(div);
                        div.appendChild(table);
                        table.appendChild(thead);
                        thead.appendChild(trEncabezado);
                        trEncabezado.appendChild(curso);
                        trEncabezado.appendChild(capacidad);
                        trEncabezado.appendChild(codigo);
                        table.appendChild(tbody);

                        var table = document.getElementById("myTable");
                        var rowCursos = table.insertRow(num+1);
                        rowCursos.appendChild(th);

                        var flechita = table.rows[num].cells[0].firstChild;
                        flechita.setAttribute('class', 'glyphicon glyphicon-chevron-down');
                        flechita.setAttribute('ng-click', "ocultarCursos("+$scope.rowSelected+")");
                    }

                    function ocultarCursos() {
                        console.log("------------> OCULTAR");
                        var table = document.getElementById("myTable");
                        table.deleteRow($scope.rowSelected+1);

                        var flechita = table.rows[$scope.rowSelected].cells[0].firstChild;
                        flechita.setAttribute('class', 'glyphicon glyphicon-chevron-right');
                        flechita.setAttribute('ng-click', "mostrarCursos("+$scope.rowSelected+")");

                        $scope.rowSelected = 0;
                    }
                });
            </script>
    </head>
    <body ng-controller="myCtrl">
    	<div class="container">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Cedula</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="persona in personas">
                        <th><span class="glyphicon glyphicon-chevron-right" ng-click="mostrarCursos(persona.num)"></span></th>
                        <th>{{persona.nombre}}</th>
                        <th>{{persona.apellido}}</th>
                        <th>{{persona.cedula}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>