<div style="background: white" class="panel-heading container">
    <div class="col-md-12">
        <div class="col-md-11 col-sm-10 col-xs-10"><h3>{{info.nombre}}</h3></div>
        <div class="col-md-1 col-sm-2 col-xs-2">
            <h2>
                <button class="btn btn-success" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span> Salir
                </button>
            </h2>
        </div>
    </div>    
</div>
<br>
<div style="background: white" class="container">    
    <div class="panel-body">
        <h3> <span class =" label label-success">Mis cursos</span></h3>
        <div>
        <uib-accordion close-others="true">          
          
            <uib-accordion-group is-open="isopen" ng-repeat="curso in MisCursos">
                <uib-accordion-heading>                
                    <span ng-click="verEvaluaciones(curso.idgrupo, curso.numgrupo ,curso.nombre)">{{ curso.codigo }}&nbsp;&nbsp;-&nbsp;&nbsp;GR{{curso.numgrupo}}&nbsp;&nbsp;-&nbsp;&nbsp;{{curso.nombre}}</span>
                    <i ng-click="verEvaluaciones(curso.idgrupo, curso.numgrupo ,curso.nombre)" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                </uib-accordion-heading>
                  <div style="overflow-y:auto; height:250px">
                    <table class="table table-striped">
                      <thead>
                        <tr>          
                          <th>Nombre</th>
                          <th>Porcentaje</th>
                          <th>Accion</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="evaluacion in evaluacionesCurso">
                          <td>{{ evaluacion.nombre }}</td>
                          <td>{{ evaluacion.porcentaje }}</td>
                          <td>
                            <button class="btn" data-toggle="modal" data-target="#ManteEvaluaciones" ng-click="editarEvaluacion(evaluacion.idevaluacion,evaluacion.nombre,evaluacion.porcentaje)">
                              <span class="glyphicon glyphicon-edit"></span>  Editar
                            </button>
                              <button class="btn" data-toggle="modal" data-target="#historialNotas" ng-click="verNotas(evaluacion.idevaluacion, idGrupo,evaluacion.nombre,evaluacion.porcentaje)">
                              <span class="glyphicon glyphicon-th-list"></span>  Ver notas
                            </button>
                            <button class="btn" data-toggle="modal" data-target="#CitasEval" ng-click="citasRevision(evaluacion.idevaluacion)">
                              <span class="glyphicon glyphicon-calendar"></span>  Citas de revision
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                            <td><h3><span class="label label-default">Porcentaje</span></h3></td>
                            <td><h3><span class="label label-default">{{porcentajeTotal}}</span></h3></td>
                            <td>&nbsp;</td>
                        </tr>
                      </tfoot>
                    </table>        
                </div>
                <hr>
                <button ng-disabled="limitePorcentaje" class="btn btn-success" data-toggle="modal" data-target="#ManteEvaluaciones" ng-click="agregarEvaluacion()">
                  <span class="glyphicon glyphicon-plus"></span>  Nueva Evaluación
                </button>
                <br><br>
                <div ng-show="limitePorcentaje" class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  No puede agregar más evaluaciones al curso. Ha alcanzado el límite de porcentaje.
                </div>
                <div ng-show="nuevaEvalOk" class="alert alert-success">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  <span ng-show="nueva">La evaluación se ha agregado correctamente.</span>
                  <span ng-show="editar">La evaluación se ha modificado correctamente.</span>
                </div>
                <br>
            </uib-accordion-group>
            
        </uib-accordion>

      </div>
        
    </div>    
</div>

<div class="modal fade" id="ManteEvaluaciones" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 ng-show="nueva">Crear Nueva Evaluación</h3>
        <h3 ng-show="editar">Editar Evaluación {{nombreEvaluacion}}</h3>
      </div>
      <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label >Nombre de la evaluación:</label>
                <div>
                    <input type="text" class="form-control" ng-model="nombreEvaluacion" placeholder="Nombre de la evaluación">
                </div>
            </div> 
            <div class="form-group">
                <label>Porcentaje de evaluación:</label>
                <div>
                    <input type="text" class="form-control" ng-model="porcentajeEvaluacion" placeholder="Porcentaje de evaluación">
                </div>
            </div>            
        </form>
        <div ng-show="nuevaEvalError" class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span>El porcentaje de la nueva evaluación sobrepasa el porcentaje disponible.</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-success" data-dismiss="modal" ng-disabled="error || nuevaEvalError" ng-click="guardarEvaluacion()">
            <span class="glyphicon glyphicon-floppy-disk"></span>  Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="historialNotas" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Historial de Evaluaciones - {{nombreEvaluacion}} - {{porcentajeEvaluacion}}%</h3>
      </div>
      <div class="modal-body">
          <div style="overflow-y:auto; height:350px">
            <table class="table table-striped">
                <thead>
                  <tr>         
                    <th>Cedula</th>
                    <th>Nombre Completo</th>
                    <th>Nota</th>
                  </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="calificacion in historialNotas">
                      <td>{{ calificacion.cedula }}</td>
                      <td>{{ calificacion.nombre }}</td>
                      <td>
                        <div class="col-md-4">
                            <input id="{{ calificacion.cedula }}" ng-blur="guardarCalificacion(calificacion.cedula, this)" type="text" class="form-control input-small input-md" value="{{calificacion.nota}}">
                        </div>                        
                      </td>                 
                    </tr>
                </tbody>
              </table>
          </div>          
      </div>
      <div class="modal-footer">
        <span id="estado" class="text-danger">{{estado}}</span>
        <button class="btn btn-success" data-dismiss="modal" ng-click="">
            <span class="glyphicon glyphicon-ok"></span>  Terminado
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CitasEval" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div id="modalCitas" class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="btn-group">
            <button id="tabNuevaCita" type="button" class="btn btn-primary" ng-click="tabNuevaCita()">Nueva cita</button>
            <button id="tabVerCitas" type="button" class="btn btn-default" ng-click="tabVerCitas()">Ver citas</button>
          </div>
        </div>
        <div class="modal-body">
          <div ng-show="crearCita" style="overflow-y:auto; height:250px;">
              <p>
                <label>Fecha</label>
                <input class="form-control" type="date" ng-model="fechaCita">
              </p>
              <p>
                <label>Inicia a las</label>
                <input class="form-control" ng-model="horaInicio" placeholder="Ej: hh:mm:ss" type="text" id="datepicker">
              </p>
              <p>
                <label>Finaliza a las</label>
                <input class="form-control" type="text" ng-model="horaFin" placeholder="Ej: hh:mm:ss">
              </p>
          </div>
          <div ng-show="verCitas" style="overflow-y:auto; height:250px;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Estudiante</th>
                  <th>Fecha</th>
                  <th>Hora de inicio</th>
                  <th>Hora de fin</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cita in citas">
                  <td>{{ cita.nombre }}</td>
                  <td>{{ cita.fecha }}</td>
                  <td>{{ cita.hora_inicio }}</td>
                  <td>{{ cita.hora_fin }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button ng-show="crearCita" class="btn btn-success" data-dismiss="modal" ng-disabled="errorCitas" ng-click="agregarCitaRevision()">
              <span class="glyphicon glyphicon-ok"></span> Listo
          </button>
        </div>
      </div>
    </div>
</div>