<div style="background: white" class="panel-heading container">
    <div class="col-md-12">
        <div class="col-md-11 col-sm-10 col-xs-10"><h3>{{info.nombre}}</h3></div>
        <div class="col-md-1 col-sm-2 col-xs-2">
            <h2>
                <button class="btn btn-success" ng-click="logout()">
                    <span class="glyphicon glyphicon-log-out"></span> Salir
                </button>
            </h2>
        </div>
    </div>    
</div>
<br>
<div style="background: white" class="container">    
    <div class="panel-body">
        <h3> <span class =" label label-success">Mis cursos</span></h3>
        <div style="overflow-y:auto; height:400px;">
            <table class="table table-striped" id="tableCursos">
              <thead>
                <tr>         
                  <th>&nbsp;</th>
                  <th>Codigo</th>
                  <th>Grupo</th>
                  <th>Nombre del curso</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="curso in MisCursos">
                  <td><span ng-click="verEvaluaciones(curso.cont, curso.idgrupo, curso.nombre)" class="glyphicon glyphicon-chevron-down"></span></td>
                  <td>{{ curso.codigo }}</td>
                  <td>{{ curso.numgrupo }}</td>
                  <td>{{ curso.nombre }}</td>                   
                </tr>
              </tbody>
            </table>
        </div>
    </div>    
</div>
<br>
<div ng-show="evaluaciones" style="background: white" class="container">
<h3> <span class =" label label-success">{{cursoNombre}} - Evaluaciones</span></h3>
    <div style="overflow-y:auto; height:250px">
        <table class="table table-striped">
          <thead>
            <tr>          
              <th>Nombre</th>
              <th>Porcentaje</th>
              <th>Accion</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="evaluacion in evaluacionesCurso">
              <td>{{ evaluacion.nombre }}</td>
              <td>{{ evaluacion.porcentaje }}</td>
              <td>
                <button class="btn" ng-click="editarEvaluacion(evaluacion.idevaluacion,evaluacion.nombre,evaluacion.porcentaje)">
                  <span class="glyphicon glyphicon-edit"></span>  Editar
                </button>
                  <button class="btn" ng-click="verNotas(evaluacion.idevaluacion)">
                  <span class="glyphicon glyphicon-th-list"></span>  Ver notas
                </button>
                <button class="btn" ng-click="citasRevision(evaluacion.idevaluacion)">
                  <span class="glyphicon glyphicon-calendar"></span>  Cistas de revision
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
                <td><h3> <span class =" label label-default">Porcentaje</span></h3></td>
                <td><h3> <span class =" label label-default">{{porcentajeTotal}}</span></h3></td>
                <td>&nbsp;</td>
            </tr>
          </tfoot>
        </table>        
    </div>
    <hr>
    <button class="btn btn-success" ng-click="agregarEvaluacion()">
        <span class="glyphicon glyphicon-plus"></span>  Nueva Evaluación
    </button>
</div>
<br>
<div ng-show="nueva || editar" style="background: white" class="container">    
    <h3 ng-show="nueva">Crear Nueva Evaluación:</h3>
    <h3 ng-show="editar">Editar Evaluación {{nombreEvaluacion}}:</h3>

    <form role="form">
        <div class="form-group">
            <label >Nombre de la evaluación:</label>
            <div>
                <input type="text" class="form-control" ng-model="nombreEvaluacion" placeholder="Nombre de la evaluación">
            </div>
        </div> 
        <div class="form-group">
            <label>Porcentaje de evaluación:</label>
            <div>
                <input type="text" class="form-control" ng-model="porcentajeEvaluacion" placeholder="Porcentaje de evaluación">
            </div>
        </div>
        <hr>
        <button class="btn btn-success" ng-disabled="error" ng-click="guardarEvaluacion()">
            <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
        </button>
    </form>
    
</div>